<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div class="container" style="margin-left: 350px; margin-top: 100px;">
  <h2>Business Title: <%= user.name %></h2>

</div>
<div class="container" style="margin-left: 400px; margin-top: 50px;">
  <h2>Active Orders List</h2>
</div>