<div class="container" style="align-content: center;">
    <a href="/dashboard">Home</a>
</div>

<div>
    <h3 style="margin-top: 20px; margin-left: 20px;">
        You order places successfully
    </h3>
</div>